In [1]:
import pandas as pd
import numpy as np

In [2]:
#Step 1: Import document, Change Program Start Date to Date of Identification
df = pd.read_csv("BFZ_Aggregator_Report.csv")
df = df.rename(columns={"Program Start Date":"Date of Identification"})
df = df.drop(["Relationship","Family Name"],axis=1)
df

,Name,Case Number,Program Name,Veteran Status (HUD),Date of Identification,Program End Date,Dismissal Reason
0,"Abebe, Melaku",48450,Arlington Zero: Chronic - Veterans Only,No,1/31/2019 0:00,6/19/2019 0:00,Exit to Permanent Housing
1,"Abreo, Richard",7649,Arlington Zero: Chronic - Veterans Only,No,8/27/2015 0:00,10/30/2015 0:00,Exit to Permanent Housing
2,"Acosta, Michael",8039,Arlington Zero: Chronic - Veterans Only,No,1/20/2015 0:00,1/22/2015 0:00,Service Completed Successfully
3,"Agboka, Alex",48894,Arlington Zero: Single Adults,No,7/1/2019 0:00,7/24/2020 0:00,Exit to Permanent Housing
4,"Aguirre, Maria",52633,Arlington Zero: Families,No,6/23/2021 0:00,NaN,NaN
...,...,...,...,...,...,...,...
442,"Woods, Laura",43654,Arlington Zero: Chronic - Veterans Only,No,3/28/2017 0:00,6/12/2017 0:00,Exit to Permanent Housing
443,"Woolfolk, William",50467,Arlington Zero: Single Adults,No,7/1/2019 0:00,2/26/2020 0:00,Exit to Permanent Housing
444,"Worthington, Taylor",51829,Arlington Zero: Chronic - Veterans Only,Yes,3/17/2020 0:00,11/19/2020 0:00,Exit to Permanent Housing
445,"Young, Linda",10194,Arlington Zero: Chronic - Veterans Only,No,11/2/2015 0:00,8/8/2016 0:00,Exit to Permanent Housing
446,"Ytity, Ytiyti",48574,Arlington Zero: Chronic - Veterans Only,No,9/20/2018 0:00,5/29/2019 0:00,Left Jurisdiction

In [3]:
#Step 2: Adding Case Number Counter
# case_counter = df.groupby('Case Number').count()['Name']
df['Case Number Counter'] = df['Case Number'].map(df.groupby('Case Number').count()['Name'])
df[df['Case Number Counter'] > 1]

,Name,Case Number,Program Name,Veteran Status (HUD),Date of Identification,Program End Date,Dismissal Reason,Case Number Counter
36,"Bhavsar, Meena",44078,Arlington Zero: Chronic - Veterans Only,No,8/17/2016 0:00,8/17/2016 0:00,Removed from Pool,2
37,"Bhavsar, Meena",44078,Arlington Zero: Chronic - Veterans Only,No,3/22/2016 0:00,5/12/2017 0:00,Exit to Permanent Housing,2
49,"Brown, Fatima",10489,Arlington Zero: Chronic - Veterans Only,No,7/10/2020 0:00,NaN,NaN,4
50,"Brown, Fatima",10489,Arlington Zero: Single Adults,No,7/1/2019 0:00,6/22/2021 0:00,Removed from Pool,4
51,"Brown, Fatima",10489,Arlington Zero: Chronic - Veterans Only,No,7/10/2020 0:00,NaN,NaN,4
...,...,...,...,...,...,...,...,...
433,"Williams, Charlie",8563,Arlington Zero: Chronic - Veterans Only,No,11/30/2016 0:00,2/27/2017 0:00,Discharged for Non-Compliance,3
434,"Williams, Charlie",8563,Arlington Zero: Chronic - Veterans Only,No,10/15/2015 0:00,3/29/2016 0:00,Removed from Pool,3
435,"Williams, Charlie",8563,Arlington Zero: Chronic - Veterans Only,No,9/19/2017 0:00,6/30/2018 0:00,NaN,3
439,"Willis, Zayia",40681,Arlington Zero: Families,Data Not Collected,9/4/2021 0:00,NaN,NaN,2
440,"Willis, Zayia",40681,Arlington Zero: TAY,Data Not Collected,5/7/2021 0:00,NaN,NaN,2

In [4]:
#Step 3: Adding Household Type Column
household_type = {"Arlington Zero: Chronic - Veterans Only":"Single Adults",
"Arlington Zero: Single Adults":"Single Adults",
"Arlington Zero: Families":"Families",
"Arlington Zero: TAY":"Youth"}
df['Household Type'] = df['Program Name'].map(household_type)
df

,Name,Case Number,Program Name,Veteran Status (HUD),Date of Identification,Program End Date,Dismissal Reason,Case Number Counter,Household Type
0,"Abebe, Melaku",48450,Arlington Zero: Chronic - Veterans Only,No,1/31/2019 0:00,6/19/2019 0:00,Exit to Permanent Housing,1,Single Adults
1,"Abreo, Richard",7649,Arlington Zero: Chronic - Veterans Only,No,8/27/2015 0:00,10/30/2015 0:00,Exit to Permanent Housing,1,Single Adults
2,"Acosta, Michael",8039,Arlington Zero: Chronic - Veterans Only,No,1/20/2015 0:00,1/22/2015 0:00,Service Completed Successfully,1,Single Adults
3,"Agboka, Alex",48894,Arlington Zero: Single Adults,No,7/1/2019 0:00,7/24/2020 0:00,Exit to Permanent Housing,1,Single Adults
4,"Aguirre, Maria",52633,Arlington Zero: Families,No,6/23/2021 0:00,NaN,NaN,1,Families
...,...,...,...,...,...,...,...,...,...
442,"Woods, Laura",43654,Arlington Zero: Chronic - Veterans Only,No,3/28/2017 0:00,6/12/2017 0:00,Exit to Permanent Housing,1,Single Adults
443,"Woolfolk, William",50467,Arlington Zero: Single Adults,No,7/1/2019 0:00,2/26/2020 0:00,Exit to Permanent Housing,1,Single Adults
444,"Worthington, Taylor",51829,Arlington Zero: Chronic - Veterans Only,Yes,3/17/2020 0:00,11/19/2020 0:00,Exit to Permanent Housing,1,Single Adults
445,"Young, Linda",10194,Arlington Zero: Chronic - Veterans Only,No,11/2/2015 0:00,8/8/2016 0:00,Exit to Permanent Housing,1,Single Adults
446,"Ytity, Ytiyti",48574,Arlington Zero: Chronic - Veterans Only,No,9/20/2018 0:00,5/29/2019 0:00,Left Jurisdiction,1,Single Adults

In [9]:
#Step 4: Adding Chronic Column
#If client is in Chronic & Vet and 'No' to Veteran Status, then they are chronic
df['Chronic'] = np.nan
df.loc[(df['Program Name']=="Arlington Zero: Chronic - Veterans Only") & (df['Veteran Status (HUD)']=="No")
,"Chronic"] = "Yes"
df['Chronic'].value_counts()

Yes    233
Name: Chronic, dtype: int64

In [ ]:
#Step 5, remap all dismissal reasons